<!DOCTYPE html>
<html lang="en">
<head>
    <title>User List</title>
</head>
<body>
    <h1>User List</h1>
    <ul>
        <% users.forEach(user => { %>
            <li>
                <%= user.username %> - <%= user.email %>
                <form action="/delete/<%= user._id %>" method="POST" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
                <a href="/update/<%= user._id %>">Update</a>
            </li>
        <% }) %>
    </ul>
</body>
</html>
